* {
  font-family: 'Inter', sans-serif;
}

body {
  padding: 0;
  margin: 0;
  background-color: #f8f8ff;
  height: 100vh;
  width: 100vw;
}

.container {
  border: 4px dashed #0d47a1;
  padding: 4px;
  display: flex;
  height: calc(100vh - 16px);
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

h1 {
  margin-bottom: 6px;
  color: #357a38;
}

h1.offline {
  color: #950000;
}

p {
  margin-top: 0;
}

img {
  width: 150px;
}

.justify-center {
  justify-content: center;
}

.justify-between {
  justify-content: space-between;
}

.notification.type,
.notification.downlink {
  background-color: #118AB2;
}
.notification.online,
.notification.charging {
  background-color: #06D6A0;
}
.notification.offline,
.notification.discharging {
  background-color: #EF476F;
}

#batteryLevel {
  width: 100px;
  height: 8px;
}

#batteryLevel .progress-bar {
  height: 8px;
}

#batteryLevel .progress-bar .progress-bar__primary {
  background-color: #06D6A0;
}
#batteryLevel.high .progress-bar .progress-bar__primary {
  background-color: #06D6A0;
}
#batteryLevel.medium .progress-bar .progress-bar__primary {
  background-color: #FFD166;
}
#batteryLevel.low .progress-bar .progress-bar__primary {
  background-color: #EF476F;
}